.hero {
  background: url("../assets/hero-bg.jpg") center/cover no-repeat;
  color: white;
  padding: 50px;
  text-align: center;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
}
